<?xml version="1.0"?>
<ruleset name="PhpWsClient">
    <description>The coding standard for PHP WebSocket Client</description>
    <file>./src</file>
    <file>./tests</file>
    <arg value="nps" />
    <rule ref="PSR12"/>
    <rule ref="Squiz.WhiteSpace.FunctionOpeningBraceSpace"/>
</ruleset>
