<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         cacheDirectory="./build/cache/phpunit"
         cacheResult="true"
        colors="true">

    <testsuites>
        <testsuite name="unit">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>

    <coverage>
        <report>
            <clover outputFile="./build/reports/phpunit/clover.xml"/>
            <html outputDirectory="./build/reports/coverage/" lowUpperBound="50" highLowerBound="90"/>
            <php outputFile="./build/reports/phpunit/coverage.php"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="./build/reports/phpunit/unit.xml"/>
    </logging>

</phpunit>
